In [10]:
import pandas as pd

# Read the file data/attacks.csv
# Specify encoding to avoid utf-8 decode error
df = pd.read_csv("/home/ralcaraz/Documentos/git-projects/colab-repo/data/attacks.csv", encoding='latin1')
# Drop the na rows
# df = df.dropna().reset_index(drop=True)
df[df.Area == "Majorca"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
113,2017.07.23.a,23-Jul-2017,2017.0,Unprovoked,SPAIN,Majorca,"Estanys Beach, Colonia de Sant",Swimming,female,F,...,Blue shark 6',"Daily Record, 7/24/2017",2017.07.23.a-Majorca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.23.a,2017.07.23.a,6190.0,NaN,NaN